services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      NODE_ENV: production

